body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    
    height: 88vh;
    background: linear-gradient(#3a3647,#371a49);

  }

.login-container.container{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-top: 83px;
    margin-bottom: 30px;
    background: #fff;
    width: 443px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.login-container .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}
.login-container .text{
    color: #111191;
    font-family: 'Segoe UI', 'Helvetica', sans-serif;
font-size: 50px;
font-weight: 700;

}
.login-container .underline{
    width: 154px;
    height: 6px;
    background: rgb(20, 20, 126);
    border-radius: 10px;
}

.login-container .inputs{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-container .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 337px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}


.login-container .input input {
    height: 38px;
    width: 400px;
    background: linear-gradient(to right, #fff, #f2f2f2); 
    border: 1px solid #ccc; 
    color: #2c2c2c;
    font-size: 18px; 
    padding: 10px; 
    border-radius: 8px; 
    transition: background 0.3s ease, border 0.3s ease; 
    margin-left: 20px; 
    &:focus {
        border: 2px solid #0d031b; 
        font-weight: bold;
    }
}


.login-container .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 220px;
    color: #fff;
    background: rgb(90, 26, 151);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px auto;
    
}

.login-container .svg-inline--fa{
    display: var(--fa-display, inline-block);
    height: 2em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-left: 20px;
}

 .login-container .signup{
    color: #797979;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
@media only screen and (min-width: 320px) and (max-width: 480px)  {
    .login-container.container {
        display: flex;
        background: #fff;
        width: 60%;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 20px;
    }
    .login-container .input {
        display: flex;
        align-items: center;
        
        width: 92%;
        height: 52px;
        background: #eaeaea;
        border-radius: 6px;
    }
    .login-container .input input {
        height: 14px;
        width: 60%;
        background: linear-gradient(to right, #fff, #f2f2f2);
        border: 1px solid #ccc;
        color: #2c2c2c;
        font-size: 10px;
        padding: 9px;
        border-radius: 8px;
        transition: background 0.3s ease, border 0.3s ease;
        /* margin-left: 20px; */
    }
    .login-container .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 50%;
        color: #fff;
        background: rgb(90, 26, 151);
        border-radius: 50px;
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
        margin-left: 65px;
        margin-top: 10px;
    }
}

  